@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
}
#images{
    background: #333;

}
h1 {
    font-weight: 800;
    font-size: 2.2rem; /*2.2rem = 40px*/
    text-transform: uppercase;
    margin: 0;
    color: #564f46;

}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
    color: #564f46;

}

img {
    display: block;
    width: 100%;
}
main {
    max-width: 1000px;
    margin: auto;
    /* box-shadow: 30px 34px 40px rgba(0,0,0,0.2),
    -30px 34px 40px rgba(0,0,0,0.2),
    -30px -4328px 40px rgba(0,0,0,0.2),
    30px -4328px 40px rgba(0,0,0,0.2); */
    box-shadow: 30px 0px 40px rgba(0,0,0,0.3),
    -30px 0px 40px rgba(0,0,0,0.3);  
}

#landing {
    position: relative;
    width: 100%;
    background: #fff;
    
}
#landing-text {
    position: absolute;
    top:46%;
    left:24%;
    transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    justify-content: center;
    align-items: center;
    text-align: center; 
}
#landing-text-inner{
    width: 20vw;
    /* height: 30vh; */
}
#landing{
    background-size: cover; 
    width: 100%;
}

/* #landing-text h1 {
    font-size: 32px;
    color: #564f46;
} 
#landing-text h2 {
    font-size: 18px;
    color: #564f46;
}  */

.btn {
    padding: 0.7rem 2rem;
    border: 1.4px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #eee;
    transition: 500ms ease; /*spowalnia kolor po najechaniu na button*/
  
    opacity: 0.6;

}
/* kolor po najechaniu na button */
.btn:hover {
    background: #f4f4f4;
    color: #333; 
}
.btn2 {
    padding: 0.7rem 1.5rem;
    border: 1.4px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #eee;
    transition: 500ms ease; /*spowalnia kolor po najechaniu na button*/
    opacity: 0.6;

    position: absolute;
    bottom:12%;
    left:45.45%;
    transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
}
/* kolor po najechaniu na button */
.btn2:hover {
    background: #f4f4f4;
    color: #333;
}
.btnMenu {
    padding: 0.5rem 2rem;
    border: 0.4px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: 500ms ease; /*spowalnia kolor po najechaniu na button*/
    opacity: 0.8;
}
/* kolor po najechaniu na button */
.btnMenu:hover {
    background: #f4f4f4;
    color: #333;
}

/* DOWN | Summer, Spring, Autumn, Winter */
#header {
    /*sets the words horizontally*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    padding: 1.5rem;
    text-align: center;
    background: #333;
}
#header h2 {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 1.2rem;
    color: #eee;
    font-size: 23px;
    font-weight: bold;

}
#header h4 {
    display: inline-block;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    color: gray;
    letter-spacing: 1.5px;

    font-size: 18px;
    font-weight: 100; 
}


/* word animation */
.scale{
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}
.word:hover .scale{
    transform: scale(1.4, 1.4);
    cursor: pointer;
}  

/*podkreślenie nazwy pór roku*/
a.highlighted{
    position: relative;
    padding: 4px 0;
    margin: 0 12px;
    line-height: 16px;
    letter-spacing: 1.5px;
    color: #eee;
    text-decoration: none;
}
a.highlighted::before {
   content: '';
   display: block;
   position: absolute;
   bottom: 1px;
   left: 0;
   height: 3px;
   width: 100%;
   background-color: #9f9b87;
   
}

/* poprawienie przyblizania słów */
#header a{
    color: gray; 
    text-decoration: none;

    bottom: 2px;
}
.word:hover .scale a {
    bottom: 2px;
}

/* UP | Summer, Spring, Autumn, Winter */


#caption {
    padding-bottom:  0.1rem; 
    text-align: center;
    color: #eee;

}
/* ---------FOOTER-------- */
/* Center footer */
footer {
    display: block;
    max-width: 1000px;
    margin: auto;

    /* box-shadow: 30px 34px 40px rgba(0,0,0,0.2),
    -30px 34px 40px rgba(0,0,0,0.2);  */
}
footer > div { 
    /* text-align: center;  */
    font-size: 20px;
    color: #eee; 
}
footer h3 {
    /*rozmiar czcionki <h3>*/
    font-size: 2rem;
    margin-bottom: 0;
    color: #eee;
}

/* Utwórz dwie nierówne kolumny, które unoszą się obok siebie */
.column {
    float: left;
    /* padding-top: 5px; */
    padding-left: 12px; 

    /* width:48%; */
}
.left{
    /* padding-left: 20px; */
    background-color: #333
}
.right{
    width:44%;
    /* padding-left: 4px; 
    height: 567px;
    background-color: #333;*/
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
#photo-footer object {
    /* background-color: orange;  */
    max-width: 100%;
    height: auto;
}
#rectangle object{
    max-width: 100%;
    height: auto;
}
#rectangle {
    /*important!*/
    position: relative;
    right: 5.2rem;
    top: 3rem;
    width: 523px; 
 
}
#theImage img{
    display: none;
}

#text-contact{
    position: relative;
    bottom: 135px;
    right: 20px;
    text-align: center;
}
/*colors animation social-media*/
/* przyblizanie svg z kolorem */
.column-s object{
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    cursor: pointer;
    
}
.column-s object:hover{
    transform: scale(1.2, 1.2);

}
.hover-fb:hover{
    background-image: 
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMin meet' viewBox='74 24 330 330'><path id='path3087' fill='%23111' d='M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z'></path></svg>");

}

.hover-insta:hover{
    /* width: 56.8px;
    height: 56.8px; */
    border-radius: 17px;
    
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http://www.w3.org/2000/svg%22%20xmlns:xlink%3D%22http://www.w3.org/1999/xlink%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220,%200,%20100,%20100%22%3E%0A%20%20%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22/%3E%0A%3C/svg%3E');

}
.hover-yt:hover{
    /* height: 56px;
    width: 75px; */
    border-radius: 25%;
  
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http://www.w3.org/2000/svg%22%20xmlns:xlink%3D%22http://www.w3.org/1999/xlink%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220,%200,%20100,%20100%22%3E%0A%20%20%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22/%3E%0A%3C/svg%3E');

} 
/* Wyśrodkowanie social */
#padding-social{
    padding-top: 0%;
    padding-left: 0%;
}
/* -column- social media*/
.column-s {
    float: left;

    position: relative; 
    bottom: 50px;
    padding-left: 6%; 

}
/* -row- social media */
#social-media::after{
    /* Faceebok 
    Instagram 
    YouTube */
   
    content: "";
    clear: both;
    display: table;
}
#privacy-policy{
    text-align: right;
    padding-right: 3.5em;
}
#privacy-policy p{
    color: #9f9b87;
}
/* button menu */
#view-menu{
    position: relative;
    left: 83%;
    bottom: 80px;
}
/* ---------- Responsive web design --------- */
@media(min-width: 400px){
    h1{
        font-size: 1.2rem;
    }
    h2{
        font-size: 0.7rem;
    }
}
@media(min-width: 600px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
}
@media(min-width: 800px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.2rem;
    }
}

@media(max-width: 320px){
    #landing img{
        display: none;
    }
    #theImage img{
        display: block;

        max-width: 100%;
        height: auto;
        
    }
    #landing-text-inner {
        display: none;
    }
    
}

@media(max-width: 400px) { 
    #landing img{
        display: none;
    }
    #photo-footer object{
       display: none;
    }
    #landing-text-inner {
        display: none;
    }
    /*ułozenie przycisków (button)*/
    #landing-text{
        top: 65%;
    }
    #view-contact{
        position: absolute;
        bottom: 12%; 
        left: 30%;
    }
    .btn2{
        position: relative;
    }
    #theImage img{
        display: block;
        max-width: 100%;
        height: auto;
        
    }
    .img-footer{
        padding-top: 50px;
    }
    #text-contact{
        display: none;
    }
    #social-media {
        position: relative; 
        top: 50px;
    }
    .column-s{
        width: 10%;

    }
}

@media(max-width: 900px) {
   
    #view-work{    font-size: 12px;
    }

    .btn{    padding: 0.4rem 0.6rem;
    }
    #view-contact{    font-size: 12px;
    }
    .btn2 {
        padding: 0.4rem 0.6rem;
    } 
} 


@media(max-width: 1100px) { 

    .right{
        display: none;
    }
    #rectangle {
        display: none;
    }
    .row {
        max-width: 500px;
        margin: auto;        
    }
    #photo-footer object{
		box-shadow: 30px 0px 40px rgba(0,0,0,0.7),
		-30px 0px 40px rgba(0,0,0,0.7);  
    }
    #photo-footer{
        padding-top: 50px;
    }
    .column{
        padding-left: 0; 

    }
    #text-contact{
        position: relative;
        bottom: 30rem;
        right: 0px;
        text-align: center;
    }
    .column-s {
        float: left;
    
        position: relative; 
        bottom: 130px;
        padding-left: 16%; 
    
    }
    #privacy-policy{
        text-align: center;
        padding-right: 0.2em;
    }
}

